<h2>User info</h2>
<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>
</table>

<div class="row">
	<%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>

<p><%=link_to "フォロー", follows_user_path(user) %></p>
<p><%=link_to "フォロワー", followers_user_path(user) %></p>

<% if current_user != user %>
  <% if user.followed_by?(current_user) %>
    <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></p>
  <% else %>
    <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
  <% end %>
<% end %>

<td>フォロー数<%= user.followings.count %></td>
              <td>フォロワー数<%= user.followers.count %></td>