<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile', user: @user %>
			<%= render 'books/newform', book: @booknew %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@book.user) do %>
						  <%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						  <%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, book_path(@book) %></td>
					<td><%= @book.body %></td>
					<!-- いいね機能　非同期　ここから -->
					<td class=<%= "like-" + @book.id.to_s %>>
						<%= render partial: "favorite", locals: { book: @book } %>
					</td>
					<!-- いいね機能　非同期　ここまで -->
					<td>コメント数<%= @book.comments.count %></td>
					<% if @book.user == current_user %>
					  <td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					  <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

			<!-- コメント表示非同期　ここから -->
      <div class="commentindex" >
        <%= render partial: "commentindex", locals: { comments: @book.comments } %>
      </div>
      <!-- コメント表示非同期　ここまで -->

      <!-- コメント投稿非同期　ここから -->
      <div class="comment" >
        <%= render partial: "comment", locals: { comment: @comment, book: @book } %>
      </div>
      <!-- コメント投稿非同期　ここまで -->

		</div>
	</div>
</div>